#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container-fluid">
	<div class="sidebar">
		SIDEBAR
    </div>
	<div class="content">
		<h1>Foo App</h1>
		<div id="foo-app">
			<div>
				<a href="#" class="btn primary" id="new-foo">new</a>
				<a href="@{Application.clear()}" class="btn danger">Clear</a>
			</div>
			<ul id="foo-list">
			</ul>
			<div class="alert-message block-message sucss">
				<span>You have <span id="foo-count"></span>. Good for you!</span>
			</div>
		</div>
		<ul class="media-grid">
		  <li>
		    <a href="#">
		      <img class="thumbnail" src="http://placehold.it/330x230" alt="">
		    </a>
		  </li>
		  <li>
		    <a href="#">
		      <img class="thumbnail" src="http://placehold.it/330x230" alt="">
		    </a>
		  </li>
		</ul>
	 </div>
</div>