<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        
        <script data-main="@{'public/javascripts/main.js'}" src="@{'public/javascripts/lib/require-1.0.3.js'}"
        		type="text/javascript"></script>
        #{get 'moreScripts' /}
        
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
